 body{
    margin: 0px;
}
.container{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 90px;
    display: flex;
}
.logo{
    padding-top: 9px;
    padding-left: 40px;
    width: 30px;
    height: 100px;
}
.clg_name{
    height: 100px;
    width: 70px;
    padding-left: 40%;
    padding-top: 8px;
    display: block;
}
.middle{
    width: 100%;
    height: 550px;
    display: flex; 
    position: relative;
}
.clg_image{
    width: 80%;
    height: 400px; 
    display: block;
}
.about{
    width: 80%;
    height: 200px; 
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size:larger;  
}
.departments{
    width: 20%;
    height: 550px;
    background-color: rgb(236, 230, 230);
    font-size: 18px;
    font-family: cursive;   
}
.departments ul,h3{
    padding-left: 30px;
    padding-top: 20px; 
}
.footer{
    width: 100%;
    height: 70px;
    background-color: brown;
    padding-top: 9px;
    text-align: center;
    font-size: 17px;
    color: #c58a8a;
    
}
